{% extends 'layout.twig' %}
{% set title = book.name %}
{% block body %}
    <main class="flipbook">
        <div>
            <h1>{{title}}</h1>
            <p>{{ book.description }}</p>
        </div>
        <div id="flipbook">
            <div class="page cover" >
                <img src="{{ book.cover }}" />
            </div>
            {% for page in book.pages %}
            <div class="page" >
                <img src="{{ page }}" />
            </div>
            {% endfor %}
        </div>
    </main>
    <script type="text/javascript">
      $("#flipbook").turn({
        width: parseInt({{ book.size.width }})*2,
        height: {{ book.size.height }},
        autoCenter: true
      });
    </script>
{% endblock %}

