$primary: #FF4300;
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  a {
    color: $primary;
  }

  nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    background-color: $light;
    box-shadow: 0 0 5px grey;
    z-index: 2;

    img {
      height: 40px;
      margin: 5px 10px;
    }

    & > * {
      display: flex;

      li {
        color: $navbar-dark-color;
        list-style: none;
        line-height: 50px;
        padding: 0 10px;
        cursor: pointer;
      }
    }

    & + * {
      padding: 10px;

      &.sticked {
        position: sticky;
        top: 50px;
        background: white;
        z-index: 2;
      }
    }
  }


  h1 {
    text-align: center;
  }

  main {
    justify-content: center;
    height: calc(100vh - 50px);
    align-items: center;
    &:not(.flipbook) {
      display: flex;
      flex-direction: row;
    }
    &.flipbook {
      flex-direction: column;

      #flipbook {
        margin: auto !important;
        .page {
          background-color: white;
        }
        .page, .page-wrapper {
          height: attr(data-height px) !important;
          img {
            object-fit: contain;
            width: attr(data-width px);
            height: attr(data-height px);
          }
        }
      }
      & > * {
        &:not(.books) {
          flex: 0;
        }

      }
    }
    @media (max-width: 767px) {
        flex-direction: column;
    }

    & > * {
      @media (min-width: 768px) {
        &:not(.books) {
          flex: 1;
        }

        &.books {
          flex: 2;
        }
      }


      &:not(.books) {
        flex-direction: column;
        text-align: center;
      }

      &.books {
        flex-wrap: wrap;
        display: flex;
        height: 80vh;
        overflow-y: auto;
          flex-direction: row;
      }
    }

    .book {
      display: flex;
      width: 300px;
      margin: 20px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid $border-color;
      flex-direction: column;
      position: relative;

      h3 {
        text-align: center;
        height: 3em;
        text-overflow: ellipsis;
      }

      & > div {
        display: flex;

        &.cover {

          & > img {
            width: 100%;
            height: 200px;
            object-fit: contain;
          }

        }
      }
    }
  }
}

